.crsa-project-browser {
    position:absolute;
    width:80%;
    height:80%;
    background-color: white;
    left:10%;
    top:10%;
    overflow: hidden;
    z-index: 100;
}
.crsa-project-browser h2 {

}
.crsa-project-tree {
    position: absolute;
    left:0;
    bottom:0;
    top:0;
    width:30%;
    overflow:auto;
}
.crsa-project-tree ul {

}
.crsa-project-tree li {

}
.crsa-project-tree div {

}
.crsa-project-grid {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:60%;
    overflow: auto;
}
.crsa-project-upload {
    position: absolute;
    top:10px;
    right:10px;
}

/*  ===================================
            Title bar               
    =================================== */

    .titlebar {
        -webkit-app-region: drag;
        -webkit-user-select: none;
        height: 35px;
    }
    .titlebar + hr {
        margin: 0px 5px;
        border-color: black;
    }

    .titlebar > div {
        padding: 8px 10px 3px 10px;
        height: 100%;
        display: inline-block;
    }

    .titlebar > div i {
        font-size: 16px;
        padding: 0px 5px;
        vertical-align: middle;
        -webkit-app-region: no-drag;
        cursor: pointer;
    }
    .titlebar > div i.fa-openid {
        font-size: 20px;
    }
    .titlebar > div > div {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    div.title {
        position: absolute;
        left: 40%;
    } div.title:after {
        content: "Web Form Builder Editor";
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
    }

    .titlebar i.fa.fa-times {
        font-size: 20px;
    }
    
    .titlebar > .tb-left-menu i:hover {
        /* font-weight: 900; */
        color: white;
    }
