
body {
	background-color: #EEEEF2;
	overflow: hidden;
	user-select: none;
}

.wfb-panel {
	height: calc(100% - 36px);
	width: 100%;
	position: absolute;
}

option:disabled {
    font-style: italic;
    /* font-weight: lighter; */
}

/*	===================================
			Title bar 				
	===================================	*/

	.titlebar {
		-webkit-app-region: drag;
		-webkit-user-select: none;
		height: 35px;
	}
	.titlebar + hr {
		margin: 0px 5px;
		border-color: black;
	}

	.titlebar > div {
		padding: 8px 10px 3px 10px;
		height: 100%;
		display: inline-block;
	}

	.titlebar > div.tb-left-menu > div > i, .titlebar > div.tb-right-menu > i {
		font-size: 16px;
		padding: 0px 5px;
		vertical-align: middle;
		-webkit-app-region: no-drag;
		cursor: pointer;
	}
	.titlebar > div.tb-left-menu i.fa-openid {
		font-size: 25px;
	}
	.titlebar > div.tb-left-menu i.fa-floppy-o {
		font-size: 18px;
	}

	.titlebar > div > div {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.titlebar div.titlebar-divider {
		width: 1px;
		height: 100%;
		margin: 0 3px;
		background-color: black;
	}
/*	.titlebar > div > div > i:nth-last-of-type(1):after {
		content: "";
		height: 18px;
		width: 1px;
		margin: 0 3px;
		background-color: black;
		position: absolute;
	}*/

	.titlebar div:not(.setting-bar) > ul.dropdown-menu li:not(.divider):hover {
		background-color: #cacaca;
		cursor: pointer;
	}
	.titlebar div:not(.setting-bar) > ul.dropdown-menu li:not(.divider) {
		padding: 2px 20px 2px 25px;
		white-space: nowrap;
	}
	.titlebar ul.dropdown-menu {
	    min-width: 50px;
	    background-color: #f9f9f9;
	}

	.titlebar ul.dropdown-menu > li {
		position: relative;
	}
	.titlebar ul.dropdown-menu > li > i:not(.db-connection) {
		position: absolute;
		left: 0;
		padding: 3px;
		vertical-align: middle;
	}

	.titlebar div:not(.setting-bar)  > ul > li.divider {
	    margin: 5px 15px;
	}

	div.title {
		position: absolute;
		left: 40%;
	} div.title:after {
		content: "Web Form Builder";
		font-size: 17px;
		font-weight: bold;
		font-family: sans-serif;
	}

	.titlebar i.fa.fa-times {
		font-size: 20px;
	}
	
	.titlebar > .tb-left-menu i:hover {
	    /* font-weight: 900; */
	    color: white;
	}
	
	.titlebar > div i.nothing, .titlebar > div i.nothing:hover {
		color: #cecece;
	}
/*	===================================
			Startup Page 				
	===================================	*/

	.startup-panel {
		margin: 5px;
	}

	.setting-bar {
		margin-top: 10px;
	    margin-left: 10px;
		text-align: left;
	}
	.setting-bar a {
		color: #8e8e8e;
		display: inline-block;
		margin: 0px 10px;
	}
	.setting-bar a:hover, .setting-bar a:focus {
		text-decoration: none;
	}
	.setting-bar a:hover {
		color: #3d3d3d;
	}

	.setting-bar a:before {
		font-family: FontAwesome;
		display: inline-block;
		font-size: 15px;
		text-align: center;
	    margin-right: 5px;
	}
	.setting-bar a.db-setting:before {
		content: "\f1c0";	
	}
	.setting-bar a.options:before {
		content: "\f0ad";
	}

	.setting-bar label {
		margin-bottom: 0;
	}

	.setting-bar li > span.port {
		padding-left: 7px;
		padding-right: 7px;
	}

	.titlebar .setting-bar {
		margin-left: 0;
		margin-top: 0;
	}

	.su-buttons {
		margin-top: 130px;
		text-align: center;
	}
	.su-buttons a {
		color: #8e8e8e;
		display: inline-block;
		margin: 0px 10px;
	}
	.su-buttons a:hover, .su-buttons a:focus {
		text-decoration: none;
	}
	.su-buttons a:hover {
		color: #3d3d3d;
	}
	.su-buttons a:before {
		font-family: FontAwesome;
		display: block;
		font-size: 60px;
		text-align: center;	
	}

	.su-buttons a.create-new-page:before {
		content: "\f15c";
	}
	.su-buttons a.edit-existing-page:before {
		content: "\f07c";
	}
	.su-buttons a.edit-login-page:before {
		content: "\f084";
	}
	.su-buttons a.edit-case-page:before {
		content: "\f0b1";
	}

	.setting-bar ul.dropdown-menu {
	    width: 230px;
	    padding: 10px 10px 5px;
	    background-color: #f9f9f9;
	}
	.setting-bar ul.dropdown-menu li {
		margin-bottom: 8px;
		width: 100%;
	}

	.onoffswitch {
		top: 4px;
		position: relative;
	    width: 45px;
		/* -webkit-user-select: none; */
		-moz-user-select: none;
		-ms-user-select: none;
		display: inline-block;
	}
	.onoffswitch-checkbox {
		display: none;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label:before {
		right: 1px;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
		border-color: #16a5ce;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label {
		background-color: #16a5ce;
	}
	.onoffswitch-label {
		display: block !important;
		overflow: hidden;
		cursor: pointer;
		height: 20px;
		padding: 0;
		line-height: 20px;
		border-radius: 20px;
		background-color: #545454;
		transition: background-color 0.15s ease-in;
	}
	.onoffswitch-label:before {
		content: "";
		display: block;
		width: 18px;
		height: 18px;
		margin: 0px;
		background: #FFFFFF;
		position: absolute;
		top: 1px;
		bottom: 0;
	    right: 26px;
		border-radius: 18px;
		transition: all 0.15s ease-in 0s;
	}
	
	div.onoffswitch+i.fa {
		font-size: 16px;
		margin-left: 2px;
		/* color: darkgray; */
	}
	
	.fa-1-5x {
	    font-size: 1.53333333em;
	    line-height: 0.75em;
	    vertical-align: -15%;
	}

	.remember-me {
		display: inline-block;
		/* margin-left: 25px; */
		position: absolute;
		right: 10px;
		top: 2px;
	}

	p.or {
	    text-align: center;
	    font-size: 20px;
	    color: #a9a9a9;
	    display: table;
	    margin: 30px auto 10px auto;
	}

	p.or:before {
	  right: 1.5%;
	}

	p.or:after {
	  left: 1.5%;
	}

	.startup-panel p.or:before, .startup-panel p.or:after {
	  border-top: 1px solid rgba(150, 150, 150, 0.4);
	  content: '';
	  display: table-cell;
	  position: relative;
	  top: 0.7em;
	  width: 300px;
	}

	.recent-files > p {
	    text-align: center;
	    color: #969696;
	    font-size: 16px;
	    font-weight: bold;
	}

	.recent-files  ul.sticky-list, .recent-files ul.non-sticky-list {list-style: none;text-align: center;padding-left: 0;}

	.recent-files ul > li >a {
	    text-decoration: none;
	    /* font-family: Arial; */
	    /* font-weight: bold; */
	    color: #989898;
	}

	.recent-files li>a:hover {
	    color: #3d3d3d;
	    /* font-weight: bold; */
	}

	ul.sticky-list span.glyphicon:hover, ul.non-sticky-list span.glyphicon:hover {
	    color: #000000;
	    cursor: pointer;
	    font-size: 13px;
	}

	ul.sticky-list span.glyphicon, ul.non-sticky-list span.glyphicon {
	    color: #8e8e8e;
	    font-size: 12px;
	}

	ul.sticky-list > li:hover > span.glyphicon {
	    display: inline;
	}

	ul.sticky-list span.glyphicon {
	    display: none;
	}

	
/*	===================================
			ab panel 				
	===================================	*/

	.wfb-comp {
		width: 280px;
		height: calc(100% - 12px);
		position: absolute;
		border: 1px solid #a0a0a0;
		border-radius: 0.5%;
	}

	.wfb-comp .nav-tabs {
		border-bottom: none;
	}
	
	.wfb-comp > .tab-content {
		height: calc(100% - 31px);
		width: 100%;
		background-color: #dcdcdc;
		overflow-y: auto;
		overflow-x: auto;
		/* white-space: nowrap; */
		/* position: absolute; */
	}
	
	.ab-panel {
		top: 0;
		left: 0;
		right: auto;
		margin: 10px 0 2px 2px;
	}
	
	.wfb-comp > ul.nav-tabs > li {
	    text-align: center;
	    padding: 0;
	}

	.wfb-comp > ul.nav-tabs > li > a {
	    background-color: #eeeef2;
	    border: none;
	    color: #a2a2a2;
	    font-size: larger;
	    font-weight: bold;
	    padding-top: 3px;
	    padding-bottom: 3px;
	    text-transform: none;
	    margin-right: 0;
	}

	.wfb-comp > ul.nav-tabs > li.active > a {
	    color: #7b7b7b;
	}

	.wfb-comp > ul.nav-tabs > li > a:hover {
	    background-color: #eeeef2;
	    border: none;
	    color: #3c3c3c;
	}

	.wfb-comp > ul.nav-tabs > li > a:focus {
	    background-color: #eeeef2;
	    border: none;
	    color: #7b7b7b;
	}

	.wfb-comp > ul.nav-tabs > li:after {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 2px;
	    background: white;
	}

	.wfb-comp > ul.nav-tabs > li.active:after {
	    background: #00c1ef;
	}

	.no-db-controls {
	    font-size: 25px;
	    font-weight: bold;
	    font-family: sans-serif;
	    opacity: 0.5;
	    text-align: center;
	    padding-top: 100px;
	    padding-left: 5%;
	    position: absolute;
	}


/*	===================================
			pc panel 				
	===================================	*/

	.pc-panel {
		top: 0;
		left: auto;
		right: 0;
		margin: 10px 2px 2px 0;
	}


/*	===================================
			canvas panel 				
	===================================	*/

	.canvas {
		position: relative;
		margin: 10px 290px 0 290px;
		height: calc(100% - 32px);
	}

	.cv-pages {
		height: 100%;
		position: relative;
		display: inline-flex;
	}
	.cv-pages >.page.active {
	    background-color: #dedede;
	}
	.cv-pages > .page {
		display: none;
		position: relative;
		height: 100%;
		width: 100%;
		padding: 5px;
		background-color: #eaeaea;
	}

	.cv-pages > .page.visible {
		display: inline-block;
	}
	.page span.page-change-icon {
	    font-size: 18px;
	}
	.page > div:not(.resizer-overlay) {
		display: inline-block;
	}
	.page > div > a {
		color: #8e8e8e;
		display: inline-block;
		margin: 0px 5px;
	}
	.page > div > a:hover, .page > div > a:focus {
		text-decoration: none;
	}
	.page > div > a:hover {
		color: #3d3d3d;
	}
	.page > div > a:before {
		display: inline-block;
		font-size: 15px;
		text-align: center;
	    margin-right: 5px;
	}

	.page > div > ul.dropdown-menu li:not(.divider):hover {
		background-color: #cacaca;
		cursor: pointer;
	}
	.page > div > ul.dropdown-menu li:not(.divider) {
		padding: 3px 20px 3px 25px;
		white-space: nowrap;
	}
	.page > div > ul.dropdown-menu {
	    min-width: 50px;
	    background-color: #f9f9f9;
	}

	.page > div > ul.dropdown-menu > li {
		position: relative;
	}
	.page > div > ul.dropdown-menu > li > i {
		position: absolute;
		left: 0;
		padding: 3px;
		vertical-align: middle;
	}
	
	.pg-menu li.divider {
	    margin: 5px 15px;
	}

	div.scr-menu > a.scr-setting {
		background-color: #f5f5f5;
	}
	div.scr-menu > a.scr-setting:after {
		content: "\f0d7";
		font-family: FontAwesome;
		margin-left: 5px;
	}
	div.scr-menu > a.scr-setting:focus {
		color: #8e8e8e;
	}

	.page > .content {
	    position: relative;
	    width: 100%;
	    height: calc(100% - 29px);
	    margin-top: 5px;
	    overflow-x: hidden;
	    overflow-y:hidden;
	}
	
	.iframe-loading-overlay {
	  position: absolute;
	  left: 0;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(255, 255, 255, 0.9);
	}
	.iframe-loading-overlay div {
	  color: #a5a5a5;
	  margin-top: 150px;
	  text-align: center;
	  font-size: 18px;
	}
	.iframe-loading-overlay div i {
	  color: inherit;
	  display: block;
	  font-size: 30px;
	  margin-bottom: 10px;
	}
	.iframe-loading-overlay div a {
	  display: block;
	  margin-top: 12px;
	  color: #b4b4b4;
	  text-decoration: underline;
	  font-size: 85%;
	}
	.iframe-loading-overlay div a:hover {
	  color: #969696;
	}

	iframe.content-iframe {
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	div.crsa-hl-overlay {
	  position: absolute;
	  pointer-events: none;
	}
	div.crsa-hl-size {
	  border: 1px solid rgba(0, 255, 0, 0.65);
	}
	div.crsa-hl-size.dyn {
	  border: 1px solid rgba(255, 195, 0, 0.65);
	}
	div.crsa-hl-padding-top,
	div.crsa-hl-padding-bottom,
	div.crsa-hl-padding-left,
	div.crsa-hl-padding-right {
	  background-color: rgba(0, 255, 0, 0.07);
	}
	div.crsa-hl-margin-top,
	div.crsa-hl-margin-bottom,
	div.crsa-hl-margin-left,
	div.crsa-hl-margin-right {
	  background-color: rgba(30, 30, 30, 0.07);
	}
	div.crsa-hl-name {
	  background-color: rgba(197, 197, 197, 0.67);
	  height: 16px;
	  overflow: hidden;
	  font-size: 13px;
	  line-height: 1;
	  color: #4d4d4d;
	  padding: 1px 4px;
	  text-transform: lowercase;
	  max-width: 200px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}

	div.inline-menu {
	  position: absolute;
	  width: 160px;
	  height: 24px;
	}
	div.crsa-inline-menu {
	  position: absolute;
	  width: 160px;
	  height: 24px;
	  background-color: #4497cb;
	  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	  padding: 2px 0 0 5px
	;
	}
	div.crsa-inline-menu .btn-link {
	  color: #fff;
	}
	div.crsa-inline-menu i {
	  cursor: pointer;
	  margin-right: 8px;
	}
	div.crsa-inline-menu i.crsa-inline-menu-move {
	  cursor: move;
	  position: absolute;
	  right: 0;
	  top: 5px;
	}

/*	===================================
			canvas tab 				
	===================================	*/
	.canvas-tab > span:hover {
	    cursor: pointer;
	    color: #b5b4b4;
	}
	
	.canvas-tab > span.visible:hover {
	    /* cursor: pointer; */
	    color: #000000;
	}

	.canvas-tab > span {
	    font-family: Times New Roman;
	    font-size: 16px;
	    padding: 5px;
	    color: #d0d0d0;
	    /* font-weight: bold; */
	    /* font-style: italic; */
	    white-space: nowrap;
	}
	.canvas-tab > span.visible {
	    color: #404040;
	}

	.canvas-tab > hr {
	    padding: 3px 0 5px 0px;
	    border-color: #d4d4d4;
	    margin: 0;
	}

	span.page-change-icon {
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
/*	===================================
			db controls tree view 				
	===================================	*/
	
	.tree, .tree ul {
	    margin:0;
	    padding:0;
	    list-style:none;
	    font-size: 12px;
	}
	.tree ul {
	    margin-left:1em;
	    position:relative
	}
	.tree ul ul {
	    margin-left:.5em
	}
	.tree ul:before {
	    content:"";
	    display:block;
	    width:0;
	    position:absolute;
	    top:0;
	    bottom:0;
	    left:0;
	    border-left:1px solid
	}
	.tree li {
	    margin:0;
	    padding:0 1em;
	    line-height:2em;
	    color: #585858;
	    font-weight: 100;
	    position:relative;
	}
	.tree ul li:before {
	    content:"";
	    display:block;
	    width:10px;
	    height:0;
	    border-top:1px solid;
	    margin-top:-1px;
	    position:absolute;
	    top:1em;
	    left:0
	}
	.tree ul li:last-child:before {
	    background: #dcdcdc;
	    height:auto;
	    top:1em;
	    bottom:0;
	}
	.tree .indicator.fa-plus-circle {
	    margin-right:5px;
	    color: white;
	}
	.tree li a {
	    text-decoration: none;
	    color:#369;
	}
	.tree li button, .tree li button:active, .tree li button:focus {
	    text-decoration: none;
	    color:#369;
	    border:none;
	    background:transparent;
	    margin:0px 0px 0px 0px;
	    padding:0px 0px 0px 0px;
	    outline: 0;
	}
	
	.tree .indicator.fa-minus-circle {
	    margin-right: 5px;
	    color: black;
	}

	.tree i.indicator.fa:hover {
	    color: #58bee6;
	}

	.tree span.db-control:hover {
	    background-color: #5dbbe8;
	    cursor: pointer;
	}

	.tree span.db-control {
	    padding: 1px 3px;
	}

	li > span {
	    display: inline;
	    white-space: nowrap;
	}

	span.db-control > span:nth-last-of-type(1) {
	    margin-right: 5px;
	}

	
/*	===================================
			one-to-many table dialog 				
	===================================	*/

	.col-list > ul {
	    list-style: none;
	    padding-left: 0;
	}

	.col-list li {
	    font-size: 14px;
	    font-weight: 700;
	}

	.col-list li > a {
	    font-weight: 100;
	    font-size: 13px;
	    /* margin-left: 50px; */
	}

	.add-column > select {
	    width: 50%;
	    display: inline-block;
	}

	.add-column {
	    padding: 10px 10px;
	    background-color: #eeeeee;
	}

	.col-list > h5 {
	    margin-top: 40px;
	}

	.col-list > h5 > span {
	    font-weight: 800;
	}


/*	===================================
			one-to-one table dialog 				
	===================================	*/

	.conflicts {
	    color: #e82626;
	    /* margin-right: 20px; */
	}


/*	===================================
			tooltip
	=================================== */
	
	.tooltip.top .tooltip-arrow {
	    border-top-color: #fbfbfb;
	}

	.tooltip-inner {
	    background-color: #fbfbfb;
	    color: #484848;
	}


/*	===================================
			status bar 				
	===================================	*/

	.status-bar {
	    position: relative;
	    margin: 0 290px 2px 290px;
	    height: 20px;
	    background-color: #7b7b7b;
	}
	
	.status-bar > ul {
	    margin-bottom: 0;
	    padding: 0 5px;
	    list-style: none;
	    display: inline-block;
	}

	.status-bar li {
	    padding: 0 3px;
	    margin: 0;
	    display: inline-block;
	    color: #f5f5f5;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    font-size: 13px;
	}

	.status-bar li:hover {
	    cursor: pointer;
	    background-color: #444444;
	}

	.status-bar li.current {
	    color: #6dbcdc;
	}

	.status-bar li.path-over {
	    color: #a7a7a7;
	}


/*	===================================
			alert system 				
	===================================	*/

	.crsa-modal {
		width: 800px;
	}