
body {
	background-color: #EEEEF2;
}

.wfb-panel {
	height: calc(100% - 36px);
	width: 100%;
	position: absolute;
	z-index: 10000;
}

/*	===================================
			Title bar 				
	===================================	*/

	.titlebar {
		-webkit-app-region: drag;
		-webkit-user-select: none;
		height: 35px;
	}
	.titlebar + hr {
		margin: 0px 5px;
		border-color: black;
	}

	.titlebar > div {
		padding: 8px 10px 3px 10px;
		height: 100%;
		display: inline-block;
	}

	.titlebar > div i {
		font-size: 16px;
		padding: 0px 5px;
		vertical-align: middle;
		-webkit-app-region: no-drag;
		cursor: pointer;
	}
	.titlebar > div i.fa-openid {
		font-size: 25px;
	}
	.titlebar > div i.fa-floppy-o {
		font-size: 18px;
	}

	.titlebar > div > div {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.titlebar div.titlebar-divider {
		width: 1px;
		height: 100%;
		margin: 0 3px;
		background-color: black;
	}
/*	.titlebar > div > div > i:nth-last-of-type(1):after {
		content: "";
		height: 18px;
		width: 1px;
		margin: 0 3px;
		background-color: black;
		position: absolute;
	}*/

	.titlebar ul.dropdown-menu li:not(.divider):hover {
		background-color: #cacaca;
		cursor: pointer;
	}
	.titlebar ul.dropdown-menu li:not(.divider) {
		padding: 2px 20px 2px 25px;
		white-space: nowrap;
	}
	.titlebar ul.dropdown-menu {
	    min-width: 50px;
	    background-color: #f9f9f9;
	}

	.titlebar ul.dropdown-menu > li {
		position: relative;
	}
	.titlebar ul.dropdown-menu > li > i {
		position: absolute;
		left: 0;
		padding: 3px;
		vertical-align: middle;
	}

	div.title {
		position: absolute;
		left: 40%;
	} div.title:after {
		content: "Web Form Builder";
		font-size: 17px;
		font-weight: bold;
		font-family: sans-serif;
	}

	.titlebar i.fa.fa-times {
		font-size: 20px;
	}
	
/*	===================================
			Startup Page 				
	===================================	*/

	.startup-panel {
		margin: 5px;
	}

	.setting-bar {
		margin-top: 10px;
	    margin-left: 10px;
		text-align: left;
	}
	.setting-bar a {
		color: #8e8e8e;
		display: inline-block;
		margin: 0px 10px;
	}
	.setting-bar a:hover, .setting-bar a:focus {
		text-decoration: none;
	}
	.setting-bar a:hover {
		color: #3d3d3d;
	}

	.setting-bar a:before {
		font-family: FontAwesome;
		display: inline-block;
		font-size: 15px;
		text-align: center;
	    margin-right: 5px;
	}
	.setting-bar a.db-setting:before {
		content: "\f1c0";	
	}
	.setting-bar a.options:before {
		content: "\f0ad";
	}

	.setting-bar label {
		margin-bottom: 0;
	}

	.setting-bar li > span.port {
		padding-left: 7px;
		padding-right: 7px;
	}

	.su-buttons {
		margin-top: 150px;
		text-align: center;
	}
	.su-buttons a {
		color: #8e8e8e;
		display: inline-block;
		margin: 0px 10px;
	}
	.su-buttons a:hover, .su-buttons a:focus {
		text-decoration: none;
	}
	.su-buttons a:hover {
		color: #3d3d3d;
	}
	.su-buttons a:before {
		font-family: FontAwesome;
		display: block;
		font-size: 60px;
		text-align: center;	
	}

	.su-buttons a.create-new-page:before {
		content: "\f15c";
	}
	.su-buttons a.edit-existing-page:before {
		content: "\f07c";
	}
	.su-buttons a.edit-login-page:before {
		content: "\f084";
	}
	.su-buttons a.edit-case-page:before {
		content: "\f0b1";
	}

	.setting-bar ul.dropdown-menu {
	    width: 230px;
	    padding: 10px 10px 5px;
	    background-color: #f9f9f9;
	}
	.setting-bar ul.dropdown-menu li {
		margin-bottom: 8px;
	}

	.onoffswitch {
		top: 4px;
		position: relative;
	    width: 45px;
		/* -webkit-user-select: none; */
		-moz-user-select: none;
		-ms-user-select: none;
		display: inline-block;
	}
	.onoffswitch-checkbox {
		display: none;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label:before {
		right: 1px;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
		border-color: #16a5ce;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label {
		background-color: #16a5ce;
	}
	.onoffswitch-label {
		display: block !important;
		overflow: hidden;
		cursor: pointer;
		height: 20px;
		padding: 0;
		line-height: 20px;
		border-radius: 20px;
		background-color: #545454;
		transition: background-color 0.15s ease-in;
	}
	.onoffswitch-label:before {
		content: "";
		display: block;
		width: 18px;
		height: 18px;
		margin: 0px;
		background: #FFFFFF;
		position: absolute;
		top: 1px;
		bottom: 0;
	    right: 26px;
		border-radius: 18px;
		transition: all 0.15s ease-in 0s;
	}

	.fa-1-5x {
	    font-size: 1.53333333em;
	    line-height: 0.75em;
	    vertical-align: -15%;
	}

	.remember-me {
		display: inline-block;
	    margin-left: 25px;
	}

/*	===================================
			ab panel 				
	===================================	*/

	.wfb-comp {
		width: 270px;
		height: calc(100% - 12px);
		position: absolute;
		border: 1px solid #a0a0a0;
		border-radius: 0.5%;
	}
	
	.wfb-comp > .tab-content {
		height: calc(100% - 40px);
		width: 100%;
		background-color: #dcdcdc;
		overflow-y: auto;
		overflow-x: auto;
		white-space: nowrap;
		/* position: absolute; */
	}
	
	.ab-panel {
		top: 0;
		left: 0;
		right: auto;
		margin: 10px 0 2px 2px;
	}
	
	.wfb-comp > ul.nav-tabs > li {
	    text-align: center;
	    padding: 0;
	}

	.wfb-comp > ul.nav-tabs > li > a {
	    background-color: #eeeef2;
	    border: none;
	    color: #a2a2a2;
	    font-size: larger;
	    font-weight: bold;
	    padding-top: 7px;
	    padding-bottom: 7px;
	}

	.wfb-comp > ul.nav-tabs > li.active > a {
	    color: #7b7b7b;
	}

	.wfb-comp > ul.nav-tabs > li > a:hover {
	    background-color: #eeeef2;
	    border: none;
	    color: #3c3c3c;
	}

	.wfb-comp > ul.nav-tabs > li > a:focus {
	    background-color: #eeeef2;
	    border: none;
	    color: #7b7b7b;
	}

	.wfb-comp > ul.nav-tabs > li:after {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 3px;
	    background: white;
	}

	.wfb-comp > ul.nav-tabs > li.active:after {
	    background: #00c1ef;
	}

	.no-db-controls {
	    font-size: 25px;
	    font-weight: bold;
	    font-family: sans-serif;
	    opacity: 0.5;
	    text-align: center;
	    padding-top: 100px;
	    padding-left: 5%;
	    position: absolute;
	}

/*	===================================
			pc panel 				
	===================================	*/

	.pc-panel {
		top: 0;
		left: auto;
		right: 0;
		margin: 10px 2px 2px 0;
	}


/*	===================================
			canvas panel 				
	===================================	*/

	.canvas {
		position: relative;
		margin: 10px 280px 2px 280px;
		height: calc(100% - 12px);
	}

	.cv-pages {
		height: 100%;
	}

	.cv-pages > .page {
		display: none;
		height: 100%;
		width: 100%;
		padding: 5px;
		background-color: #e2e2e2;
	}

	.cv-pages > .page.active {
		display: block;
	}

	.page > div {
		display: inline-block;
	}
	.page > div > a {
		color: #8e8e8e;
		display: inline-block;
		margin: 0px 5px;
	}
	.page > div > a:hover, .page > div > a:focus {
		text-decoration: none;
	}
	.page > div > a:hover {
		color: #3d3d3d;
	}
	.page > div > a:before {
		display: inline-block;
		font-size: 15px;
		text-align: center;
	    margin-right: 5px;
	}

	.page > div > ul.dropdown-menu li:not(.divider):hover {
		background-color: #cacaca;
		cursor: pointer;
	}
	.page > div > ul.dropdown-menu li:not(.divider) {
		padding: 3px 20px 3px 25px;
		white-space: nowrap;
	}
	.page > div > ul.dropdown-menu {
	    min-width: 50px;
	    background-color: #f9f9f9;
	}

	.page > div > ul.dropdown-menu > li {
		position: relative;
	}
	.page > div > ul.dropdown-menu > li > i {
		position: absolute;
		left: 0;
		padding: 3px;
		vertical-align: middle;
	}

	div.scr-menu > a.scr-setting {
		background-color: #f5f5f5;
	}
	div.scr-menu > a.scr-setting:after {
		content: "\f0d7";
		font-family: FontAwesome;
		margin-left: 5px;
	}
	div.scr-menu > a.scr-setting:focus {
		color: #8e8e8e;
	}

/*	===================================
			db controls tree view 				
	===================================	*/
	.tree, .tree ul {
	    margin:0;
	    padding:0;
	    list-style:none;
	    font-size: 12px;
	}
	.tree ul {
	    margin-left:1em;
	    position:relative
	}
	.tree ul ul {
	    margin-left:.5em
	}
	.tree ul:before {
	    content:"";
	    display:block;
	    width:0;
	    position:absolute;
	    top:0;
	    bottom:0;
	    left:0;
	    border-left:1px solid
	}
	.tree li {
	    margin:0;
	    padding:0 1em;
	    line-height:2em;
	    color: #585858;
	    font-weight: 100;
	    position:relative;
	}
	.tree ul li:before {
	    content:"";
	    display:block;
	    width:10px;
	    height:0;
	    border-top:1px solid;
	    margin-top:-1px;
	    position:absolute;
	    top:1em;
	    left:0
	}
	.tree ul li:last-child:before {
	    background: #dcdcdc;
	    height:auto;
	    top:1em;
	    bottom:0;
	}
	.tree .indicator.glyphicon-plus-sign {
	    margin-right:5px;
	    color: white;
	}
	.tree li a {
	    text-decoration: none;
	    color:#369;
	}
	.tree li button, .tree li button:active, .tree li button:focus {
	    text-decoration: none;
	    color:#369;
	    border:none;
	    background:transparent;
	    margin:0px 0px 0px 0px;
	    padding:0px 0px 0px 0px;
	    outline: 0;
	}
	
	.tree .indicator.glyphicon-minus-sign {
	    margin-right: 5px;
	    color: black;
	}

	.tree .indicator.glyphicon-minus-sign {
	    margin-right: 5px;
	    color: #909090;
	}

	.tree i.indicator.glyphicon:hover {
	    color: #58bee6;
	}

	.tree li > span:hover {
	    background-color: #5dbbe8;
	    cursor: pointer;
	}

	.tree li > span {
	    padding: 1px 3px;
	}

/*	===================================
			modal dialog 				
	===================================	*/
	.modal-header {
	    padding-top: 5px;
	    padding-bottom: 5px;
	    font-weight: 700;
	    font-size: 18px;
	    font-family: monospace;
	    /* background-color: #ffffff; */
	}

	.modal-footer {
	    padding-top: 5px;
	    padding-bottom: 5px;
	}

	.modal-body {
	    max-height: 600px;
	    overflow-y: auto;
	}


/*	===================================
			alert system 				
	===================================	*/
/*	.wfb-alert {
		position: relative;
		justify-content: center;
		display: flex;
		top: 50px;
	}

	.wfb-alert > div.alert {
		position: relative;
		font-size: 15px;
		height: 40px;
		padding: 8px 25px;
		min-width: 300px;
		text-align: center;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
		z-index: 10000;
	}*/